html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto auto 1fr 1fr 1fr 1fr 1fr auto auto auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "si si si g g g g g sc sc sc"
                         "si si si g g g g g sc sc sc"
                         "si si si g g g g g sc sc sc"
                         "si si si g g g g g sc sc sc"
                         "si si si g g g g g sc sc sc"
                         "fo fo fo fo fo fo fo fo fo fo fo";
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: si;
    padding: 25px;
    position: relative;
    transition: width 1s ease-in-out;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -13px;
    top: 20%;
}

.sidebar a,
.slidebar a {
    text-decoration: none;
    color: black;
}

.sidebar li,
.slidebar li {
    list-style: none;
    margin-bottom: 75px;
}

.header {
    font-size: 2rem;
}

.game {
    grid-area: g;
}

.scores {
    position: relative;
    grid-area: sc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px;
}

footer {
    display: flex;
    grid-area: fo;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 2rem;
}

.slidebar {
    background-color: #0d3b66;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 1s ease-in-out;
    width: 0px;
    height: 100vh;
}

.slidebar ul {
    display: flex;
    flex-direction: column;
    margin-left: -25%;
    margin-top: 10%;
}

.slidebar a {
    color: white;
    font-size: 1.5rem;
}

.slidebar h2 {
    margin-left: -11.5%;
}

#close {
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
}

@media screen and (max-width: 1000px) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: "si si si si si"
                             "g g g g g"
                             "sc sc sc sc sc"
                             "fo fo fo fo fo"
    }

    .sidebar,
    .scores {
        margin-top: 0;
    }

    .sidebar ul {
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        top: 40%;
        left: 25%;
    }

    .sidebar li {
        margin-right: 70px;
    }
}

@media screen and (max-width: 768px) {
    .slidebar ul {
        margin-left: 0;
    }

    .slidebar h1 {
        margin-left: 4%;
    }

    .slidebar {
        align-items: flex-start;
    }

    .slidebar h2 {
        margin-left: 4%;
    }
}