<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Boggle</title>
</head>
{% endblock %}
<body>
    <div class="slidebar">
        <i id="close" class="fas fa-times-circle"></i>
        <h1>Welcome To Boggle!</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h2>Games Played: {{ games }}</h2>
    </div>
    <div class="container">
        <section class="sidebar">
            <i id="open" class="fas fa-bars hide menu"></i>
            <h1 class="header">Boggle</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            {% block timer %}
            {% endblock %}
        </section>
        <main class="game">
            {% block content %}
            {% endblock %}
        </main>
        <section class="scores">
            <h1 class="header">Scores</h1>
            {% block form %}
            {% endblock %}
        </section>
        <footer>
            <h1 class="header">&copy; Springboard, 2021</h1>
        </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/boggle.js') }}"></script>
</body>
</html>